{% if currency_enable %}
      <div
        class="localization--root font--accent"
        data-js-class="Localization"
        data-position="{{ position }}"
      >
        <label class="hidden" id="currency-heading">
          {{ 'general.currency.dropdown_label' | t }}
        </label>

        <div class="localization--main">
          <div
            class="localization--toggle"
            tabindex="0"
            aria-expanded="false"
            aria-controls="currency-list"
            aria-describedby="currency-heading"
            data-form-toggle
          >
            <span class="currency-title">{{ form.current_currency.iso_code }} {% if form.current_currency.symbol %}{{ form.current_currency.symbol }}{% endif %}</span>
          </div>
          <ul id="currency-list" class="localization--items" data-form-item>
            {% for currency in form.available_currencies %}
              <li class="localization--item">
                <a
                  class="localization--item--link currency-{{ currency.iso_code | downcase }}"
                  href="#"
                  {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %}
                  data-value="{{ currency.iso_code }}"
                  data-form-item-link
                >
                  {{ currency.iso_code }} {% if currency.symbol %}{{ currency.symbol }}{% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
          <input
            type="hidden"
            name="currency_code"
            id="CurrencySelector"
            class="localization--currency--selector"
            value="{{ form.current_currency.iso_code }}"
            data-form-input
          />
        </div>
      </div>
    {% endif %}
